* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
}

.nav-container {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
}

.nav1 {
  background-color: #eaeaea;
  padding: 10px;
}

.nav1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav1 li {
  display: inline;
}

.nav1 a {
  text-decoration: none;
  color: rgb(16, 14, 14);
  padding: 5px 10px;
  position: relative;
}

/*Best Pseudo element example*/
.nav1 a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: blue;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.nav1 a:hover::after {
  transform: scaleX(1);
}

.nav1 .login-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* nav 2 */

.nav2 {
  background-color: #343a40;
  width: 200px;
  padding: 20px;
}

.nav2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav2 li {
  margin-bottom: 14px;
}

.nav2 a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.nav2 a:hover {
  background-color: black;
}

.nav2 .login-btn {
  background-color: green;
  color: white;
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.nav2 .login-btn:hover {
  cursor: pointer;
  background-color: aquamarine;
  color: green;
}
